/*
Copyright 2023 Russell Wallace
This file is part of Verbena.

Verbena is free software: you can redistribute it and/or modify it under the
terms of the GNU Affero General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

Verbena is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along
with Verbena.  If not, see <https://www.gnu.org/licenses/>.
*/

      a{
        color:currentColor;
      }
      body{
        font-size:20px;
        font-family:Arial,sans-serif;
      }

	nav ul {
		margin: 0;
		padding: 0;
    background: #444;
	}
	nav li {
		display: inline-block;
	}
	nav li a {
		color: #fff;
		display: block;
		padding: 10px 20px;
		text-decoration: none;
	}
	nav ul ul {
		position: absolute;
		display: none;
	}
	nav ul ul li {
		display: block;
	}
	nav li:hover ul {
		display: block;
	}
	nav ul ul li a:hover {
		background-color: #666;
	}
