      a{
        color:currentColor;
      }
      body{
        font-size:20px;
        font-family:Arial,sans-serif;
        margin:0;
      }
	nav ul {
		margin: 0;
		padding: 0;
    background: #444;
	}
	nav li {
		display: inline-block;
	}
	nav li a {
		color: #fff;
		display: block;
		padding: 10px 10px;
		text-decoration: none;
	}
	nav ul ul {
		position: absolute;
		display: none;
	}
	nav ul ul li {
		display: block;
	}
	nav li:hover ul {
		display: block;
	}
	nav ul ul li a:hover {
		background-color: #666;
	}
