/*
Copyright 2023 Russell Wallace
This file is part of Verbena.

Verbena is free software: you can redistribute it and/or modify it under the
terms of the GNU Affero General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

Verbena is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along
with Verbena.  If not, see <https://www.gnu.org/licenses/>.
*/

      a{
        color:currentColor;
      }
      body{
        font-size:20px;
        font-family:Arial,sans-serif;
      }
      table{
        width:100%;
        border-collapse:collapse;
      }
      th{
        background-color:#f0f0f0;
      }
      th,td{
        border:1px solid #d0d0d0;
        padding:8px;
        text-align:left;
      }
      .error{
          padding:16px;
          color:#c00000;
          position: fixed;
          width: 100%;
          text-align: center;
          bottom: 0;
      }
  .link-row:hover {
    background-color: #f8f8f8;
    cursor: pointer;
  }
.edit-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding:20px;
}
.display-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding:20px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    grid-column: span 2;
}

.cancel-button {
    padding: 10px 20px;
    cursor: pointer;
}

.save-button {
    padding: 10px 20px;
    cursor: pointer;
}

	nav ul {
		margin: 0;
		padding: 0;
    background: #000;
	}
	nav li {
		display: inline-block;
	}
	nav li a {
		color: #fff;
		display: block;
		padding: 10px 20px;
		text-decoration: none;
	}
	nav ul ul {
		position: absolute;
		display: none;
	}
	nav ul ul li {
		display: block;
	}
	nav li:hover ul {
		display: block;
	}
	nav ul ul li a:hover {
		background-color: #555;
	}
